.outer{
    width: 1360px;
    height: 600px;
    border: 1px solid rgba(128, 128, 128, 0.582);
    border-top: none;
}
.outer .image{
    width: 1360px;
    height: 300px;
    background-image: url(https://i.pinimg.com/736x/96/c4/d2/96c4d2a9d8d63dea4c6e9f10d35e7e84.jpg);
    background-size: 1360px 350px;
}
.outer .image h1{
    margin: 0px;
    color:red;
    padding: 110px 0px 0px 50px;
    text-shadow: 2px 1px 1px white;
}
.outer .text{
    width: 1300px;
    height: 380px;
    margin-left: 10px;
}