<div class="outer">
    <div class="image">
    </div>
    <div class="text">
        <h1>Rules & Regulations</h1>
        <h2>General Rules</h2>
        <ul>
            <li>Strict silence, decorum and discipline must be maintained in the library. Use of cell-phones is also not allowed</li>
            <li>Smoking, eating, sleeping and talking loudly are strictly prohibited in the library</li>
            <li>Documents taken out of the shelves must be left on the table. Replacing the books on shelves is not encouraged as it may get misplaced. Misplaced book is like a lost book</li>
            <li>A non-member can use the library material on the premises with the permission of the Librarian.</li>
            <li>Readers should not mark, underline, dog-ear, write, tear pages or otherwise damage the library documents.</li>
            <li>Newspapers, magazines and journals must be read only in the library on specific tables and should not be taken to any other reading areas.</li>
            <li>No library material can be taken out of the library without &nbsp;permission. Unauthorized removal of anything belonging to the library will be treated as theft and dealt accordingly.</li>
            <li>Any &nbsp;one &nbsp;who &nbsp;violates &nbsp;the &nbsp;rules &nbsp;and &nbsp;regulations &nbsp;of &nbsp;the &nbsp;library &nbsp;would &nbsp;be &nbsp;liable &nbsp;to &nbsp;lose &nbsp;the &nbsp;privilege &nbsp;of &nbsp;library membership and may be debarred from using the library facilities.</li>
            <li>Suggestions on all aspects,of library services are welcome.</li>
        </ul>
        <h2>Library Membership</h2>
        <ul>
            <li>All. faculty, staff, schola rs and students of the institute are entitled to become library members</li>
            <li>Membership is allowed only after submitting a duly filled in and signed membership form, duly recommended by the concerned HoD or office order of joining in the institute. The members are supposed to be conversant with and agreeable to the Library rules.</li>
        </ul>
    </div>
</div>