
<div class="container">
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="logo img">
            <img src="assets/image/library.jpg1" class="img-fluid" alt="logo">
        </div>
        <form class="rounded shadow bg-white p-5" [formGroup]="loginForm" (ngSubmit)="addLogin()">
            <h3 class="text-dark fw-bolder fs-4 mb-2 text-center">Sign In</h3>
            <div class="mb-2">
              <label for="username" class="form-label">Username</label>
              <input type="email" class="form-control" id="username" formControlName="Username" [ngClass]="{'errTxt':(!loginForm.controls.Username.valid) && (loginForm.controls.Username.dirty || loginForm.controls.Username.touched)}">
              <small *ngIf="!loginForm.controls.Username.valid && (loginForm.controls.Username.dirty || loginForm.controls.Username.touched)" class="text-danger">*username is required</small>
            </div>
            <div class="mb-2">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="Password">
              <small *ngIf="!loginForm.controls.Password.valid && (loginForm.controls.Password.dirty || loginForm.controls.Password.touched)" class="text-danger">*password is required</small>
            </div>
             


              <div class="mt-2 text-end">
                <a href="#" class="text-primary fw-bold text-decoration-none">Forget Password</a>
              </div>
              <button type="submit" class="btn btn-success w-100 my-4">Login</button>
              <div class="text-center text-muted text-uppercase mb-3">or</div>
              <a href="https://www.google.com" class="btn btn-light w-100 mb-3">
                <img src="assets/images/google-icon.svg" class="img-fluid me-3">Continue with Google
              </a>
              <a href="https://www.facebook.com" class="btn btn-primary w-100 mb-3">
                <img src="assets/images/facebook-icon.svg" class="img-fluid me-3">Continue with Facebook
              </a>
              <a href="https://www.twitter.com" class="btn btn-primary w-100 mb-3">
                <img src="assets/images/twitter-icon.svg" class="img-fluid me-3">Continue with Twitter
              </a>
              <div>
                Don't have an account?<a href="#" class="text-decoration-none">Register</a>
              </div>
        </form>
    </div>

</div>
<!-- <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Username</label>
    <i class="fa-solid fa-user"></i>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <i class="fa-solid fa-lock"></i>
    <input type="password" class="form-control" id="password">
    <i class="fa-solid fa-eye-slash"></i>
  </div>
  <button class="btn btn-success">Login</button>
  <p>Don't have an account?<a href="#">Sign Up</a></p>
</form> -->
<router-outlet></router-outlet>
