<div class="outer">
    <div class="image">
        <h1>Welcome To <br>Library Management System</h1>
    </div>
    <div class="text">
        <p>Online library management project in spring and hibernate is complete solution for all 
            the manual problem that we face during the library management. Mainly there are 2 main 
            actor of the application that going to operate the application.
        </p>
        <ol>
            <li>Admin/Librarian</li>
            <li>User/Students. </li>
        </ol>
        <p>
            Book or Digital books is the main module of the library management system. Book are assets that 
            we are storing in the database with some details like name, author name and version and a PDF format. 
            So admin can perform crud operation and issued the booked to users.
        </p>
        <p style="text-decoration: underline;">Sample Data for Login</p>
        <ol>
            <li>Admin:
                <ul>
                    <li>Username:praveen@gmail.com</li>
                    <li>Password&nbsp;:praveen123</li>
                </ul>
            </li>
            <li>User:
                <ul>
                    <li>Username:seenuvasan5688@gmail.com</li>
                    <li>Password&nbsp;:seenuvasan123</li>
                </ul>
            </li>
        </ol>
        <p>Please use this Username and Password to Login in Different user Type as  a Admin or User.</p>
        <p>You can also Create a <a routerLink="/Login">New Account</a>.</p>
    </div>
</div>