<div class="outer">
    <div class="headtitle"><h1>Search Book</h1></div>
    <div class="book">
        <h2>Book Title:</h2>
        <input type="text" id="serachb"><br>
        <button>Search</button>
    </div>
    <div class="tables">
        <table>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>office</th>
                <th>Age</th>
                <th>Start Date</th>
                <th>Salary</th>
                <div *ngIf="isadmin();then admin else user"></div>
                <ng-template #admin>
                    <th>Edit</th>
                    <th>Delete</th>
                </ng-template>
                <ng-template #user>
                    <th>To Buy</th>
                </ng-template>
                
            </tr>
            <div *ngIf="isadmin();then admin1 else user1"></div>
            <ng-template #admin1>
                <tr *ngFor="let list1 of lists;let i=index">
                    <td *ngFor="let list1 of list1;let j=index"> {{list1}} </td>
                    <td><a (click)="edititem(i)" style="cursor:pointer;"><img src={{showedit()}} alt="image" width="25" height="25"></a></td>
                    <td><a (click)="delitem(i)" style="cursor:pointer;"><img src={{showdel()}} alt="image" width="25" height="25"></a></td>
                </tr>
            </ng-template>
            <ng-template #user1>
                <tr *ngFor="let list of lists;let k=index">
                    <td *ngFor="let list1 of list;let l=index"> {{list1}} </td>
                    <td><a (click)="event()" style="cursor:pointer;"><img src={{showbuy()}} alt="image" width="35" height="40"></a></td>
                </tr>
            </ng-template>
        </table>
    </div>
</div>
<div class="edit" [ngStyle]="{'display':isedittab==true?'block':'none'}">
    <div class="root">
        <div class="head">
             <h2>Enter the New Value</h2>
        </div>
        <div class="body">
            <form [formGroup]="edittab">
                <br>
                <label for="nname">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</label>
                <input type="text" id="nname" name="ename" formControlName="ename"><br><br>
                <label for="po">Position&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</label>
                <input type="text" id="po" name="eposition" formControlName="eposition"><br><br>
                <label for="ci">City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</label>
                <input type="text" id="ci" name="ecity" formControlName="ecity"><br><br>
                <label for="ag">Age&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</label>
                <input type="text" id="ag" name="eage" formControlName="eage"><br><br>
                <label for="st">Start Date &nbsp;:&nbsp;</label>
                <input type="text" id="st" name="estart" formControlName="estart"><br><br>
                <label for="sy">Salary&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</label>
                <input type="text" id="sy" name="esalary" formControlName="esalary">
            </form>
        </div>
        <div class="foot">
            <button (click)="edittabok()">OK</button>
            <button (click)="edittabcancel()">CANCEL</button>
        </div>
    </div>
</div>
<div class="delcon" [ngStyle]="{'display':isdelete==true?'block':'none'}">
    <div class="header">
        <p>Confirmation<p>
    </div>
    <div class="body">
        <p>Are you sure to delete this item?<br><span id="delname">({{delname}})</span></p>
    </div>
    <div class="foot">
        <button (click)="delclose()">Close</button>
        <button (click)="delok()">Delete</button>
    </div>
</div>

